<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
</head>
<body>
    <h1 class="bg-primary text-white p-3 m-0">Nasa POD</h1>
    <%- include("partials/nav") %>

    <img src="<%=img%>">

</body>
</html>