body {
    font-family: Arial, sans-serif;
    background-color: #88dbca;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 36px;
}

h3 {
    margin-top: 20px;
    color: #444;
}

input, select {
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

label {
    display: block;
    margin: 5px 0;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #0056b3;
}

span {
    margin-left: 10px;
    font-weight: bold;
}

img {
    vertical-align: middle;
    margin-left: 5px;
}

#timesTaken {
    font-weight: bold;
    color: #555;
}

#congrats {
    margin-top: 20px;
    color: green;
    font-size: 22px;
}

#balance